<ion-view title="BRAWLR">
  <ion-nav-buttons side="left">
    <button class="button icon ion-person" ui-sref="profile"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon button-icon">
      <img src="img/gloveIcon2.png"  height="32" width="32">
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list card" ng-click="myGoBack()">
      <div class="item text-center">
        <h2>{{ card.username }}</h2>
        <p>{{ card.description }}</p>
      </div>
      <div class="item item-image">
        <img src="{{card.picture}}">
      </div>
      <div class="item">
        <strong>
          Height
        </strong>
        <p class="pull-right">
          {{card.height}}    
        </p>        
      </div>
      <div class="item">
        <strong>
          Weight
        </strong>
        <p class="pull-right">
          {{card.weight}}    
        </p>        
      </div>
    </div>
    </ion-content>
</ion-view>
