<ion-view title="BRAWLR">
  <ion-nav-buttons side="left">
    <button class="button icon ion-person" ui-sref="profile"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon button-icon">
      <img src="img/gloveIcon2.png"  height="32" width="32">
    </button>
  </ion-nav-buttons>
  <ion-content>
  <ion-refresher
    pulling-text="Find more fights"
    on-refresh="doRefresh()">
  </ion-refresher>
    <td-cards>
        <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" ng-click="singleCardView(card)">

            <div class="title text-center">
                {{ card.username }}
            </div>
                <div class="image">
                <div class="no-text overlayBox"><div class="noBox boxed">No</div></div>
                <img ng-src="{{ card.picture }}"></img>
                <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Yes</div></div>
            </div>
        </td-card>
    </td-cards>
    </ion-content>
</ion-view>