<ion-view title="Login">
  <ion-content class="padding has-header">
    <!-- Buttons -->
    <button class="button button-full button-positive" ng-click="login()" ng-hide="user">Login with Facebook</button>


    <!-- Logged-in user text -->
    <div class="card">
      <div class="item item-text-wrap" ng-hide="user">User not logged in</div>
      <div class="item item-text-wrap" ng-show="userName" ng-bind="userName"></div>
      <div class="item item-text-wrap" ng-show="user" ng-bind="user.uid"></div>
      <img ng-src="{{picture}}" />
    </div>

    <button class="button button-full button-outline button-assertive" ng-click="logout()" ng-show="user" >Logout</button>
  </ion-content>
</ion-view>