<ion-view title="WELCOME TO BRAWLR">
  <ion-nav-buttons side="right">
  <!-- kill this before production -->
    <button class="button icon ion-ios-people-outline" ui-sref="cards"></button>
  </ion-nav-buttons>
  <ion-content  padding="true" class='has-header'>
    <!-- Buttons -->
    <div class="container">
    <div class="row row-center">
        <div class="col col-5">
            <span class="ion-arrow-left-c" ng-show="showLeftArrow"></span>
        </div>
        <div class="col col-90">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
              <div class="list card">
                  <div class="item item-divider">
                    <h2>BRAWLR</h2>
                  </div>
                  <div class="item item-text-wrap">
                    <p>You don't want none of this, Dewey!</p>
                  </div>
                  <div class="item item-image">
                    <img src="https://i.ytimg.com/vi/S1jk4F1757A/hqdefault.jpg">
                  </div>
              </div>
          </ion-slide>
          <ion-slide>
              <div class="list card">
                  <div class="item item-divider">
                    <h2 style="font-family: FiraSans;">BRAWLR</h2>
                  </div>
<!--                   <div class="item item-text-wrap">
                    <p>You don't want none of this, Dewey!</p>
                  </div> -->
                  <div class="item item-image">
                    <img src="https://i.imgur.com/mq5z2dY.gif">
                  </div>
              </div>
          </ion-slide>
          <ion-slide>
              <div class="list card">
                  <div class="item item-divider">
                    <h2>BRAWLR</h2>
                  </div>
                  <div class="item item-text-wrap">
                    <p>Alright, but don't kill anybody!</p>
                  </div>
                  <div class="item item-image">
                    <img src="https://i.ytimg.com/vi/S1jk4F1757A/hqdefault.jpg">
                  </div>
                  <div class="item item-text-wrap">
                    <p>BRAWLR is not a fight promotion app.  Don't kill anybody.  Don't be a bitch.  <br>COPYRIGHT 2015 SNDWCHFCKR</p>
                  </div>
              </div>
              <button class="button button-full button-positive" ng-click="login()">Login with Facebook</button>
          </ion-slide>
        </ion-slide-box>
        </div>
        <div class="col col-5">
            <span class="ion-arrow-right-c"  ng-show="showRightArrow"></span>
        </div>
    </div>
    </div>
  </ion-content>
</ion-view>