<ion-view title="WELCOME TO BRAWLR">
  <ion-nav-buttons side="right">
  <!-- kill this before production -->
<!--     <button class="button icon ion-ios-people-outline" ui-sref="cards"></button> -->
  </ion-nav-buttons>
  <ion-content  padding="true" class='has-header'>
    <!-- Buttons -->
    <div class="container">
    <div class="row row-center">
        <div class="col col-5">
            <span class="ion-arrow-left-c" ng-show="showLeftArrow"></span>
        </div>
        <div class="col col-90">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
              <div class="list card">
                  <div class="item item-divider">
                    <h2>BRAWLR</h2>
                  </div>
                  <div class="item item-text-wrap">
                    <p>Tinder has shown you all the hot singles in your area</p>
                  </div>
                  <div class="item item-image">
                    <img ng-src="img/tinder.jpg">
                  </div>
              </div>
          </ion-slide>
          <ion-slide>
              <div class="list card">
                  <div class="item item-divider">
                    <h2 style="font-family: FiraSans;">BRAWLR</h2>
                  </div>
                  <div class="item item-text-wrap">
                    <p>Grindr has shown you all the other hot singles in your area</p>
                  </div>
                  <div class="item item-image">
                    <img ng-src="img/fight4.jpg">
                  </div>
              </div>
          </ion-slide>

          <ion-slide>
              <div class="list card">
                  <div class="item item-divider">
                    <h2>BRAWLR</h2>
                  </div>
                  <div class="item item-image">
                    <img ng-src="img/fight3.jpg">
                  </div>
                  <div class="item item-text-wrap">
                    <p>Now fight those hot singles with Brawlr <br>COPYRIGHT 2015 SNDWCHFCKR</p>
                  </div>
              </div>
              
          </ion-slide>
          <ion-slide>
              <div class="list card">
                  <div class="item item-divider">
                    <h2 style="font-family: FiraSans;">BRAWLR</h2>
                  </div>
                  <div class="item item-text-wrap">
                    <p>In no way are we condoning violence of any kind, nor should we be misconstrued as fight promoters. We are one big joke.</p>
                  </div>
                  <div class="item item-image">
                    <img ng-src="img/fight2.jpeg">
                  </div>
              </div>
          </ion-slide>
          <ion-slide>
              <div class="list card">
                  <div class="item item-divider">
                    <h2 style="font-family: FiraSans;">BRAWLR</h2>
                  </div>
                  <div class="item item-text-wrap">
                    <p>But on the off chance you're a fool and choose to take this thing seriously, send a video of your encounter to hotvids@brawlr.com</p>
                  </div>
                  <div class="item item-image">
                    <img ng-src="img/fight1.jpg">
                  </div>
                  <button class="button button-full button-positive" ng-click="login()">Login with Facebook</button>
              </div>
          </ion-slide>
        </ion-slide-box>
        </div>
        <div class="col col-5">
            <span class="ion-arrow-right-c"  ng-show="showRightArrow"></span>
        </div>
    </div>
    </div>
  </ion-content>
</ion-view>