  <ion-popover-view style="height: 140px; padding-top: 5px;"> 
    <ion-content>
        <div class="item item-button-right">
          Report User
          <button class="button button-assertive" ng-click="reportUser();">
            <i class="icon ion-flag"></i>
          </button>
        </div>
        <div class="item item-button-right">
          Destroy Match
          <button class="button button-dark" ng-click="destroyMatch();">
            <i class="icon ion-close"></i>
          </button>
        </div>
    </ion-content>
  </ion-popover-view>