<ion-view title="BRAWLR">
  <ion-nav-buttons side="left">
    <button class="button icon ion-ios-people-outline" ui-sref="cards"></button>
  </ion-nav-buttons>
  <ion-content on-swipe-right="swipeRight()">
    <ion-refresher pulling-text="Update Matches" on-refresh="doRefresh()" > </ion-refresher>
    <ion-list class="list">
      <ion-item ng-repeat="match in matches" class='match-list-item shit' ng-click="showMessages($index)">
          <a class="item item-avatar" href="#">
            <img ng-src="{{matchedUsers[$index].picture}}" class='avatar-frame' ng-click="showDetails($index);$event.stopPropagation()">
            <h2>{{matchedUsers[$index].username}}</h2>
            <p>{{messageList[$index][messageList[$index].length-1].$value}}</p>
          </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>