<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="http://learn.ionicframework.com/">
        Learn Ionic
      </a>
      <a class="item" href="http://ionicframework.com/docs/">
        Documentation
      </a>
      <a class="item" href="http://showcase.ionicframework.com/">
        Showcase
      </a>
      <a class="item" href="http://ionicframework.com/submit-issue/">
        Submit an Issue
      </a>
      <a class="item" href="https://github.com/driftyco/ionic">
        Github Repo
      </a>
    </div>
  </ion-content>
</ion-popover-view>