<ion-view title="Profile">
  <ion-content class="padding has-header">
  <form  ng-submit="save_profile()"> 
  <h1>{{title}}</h1>
    <div class="list">
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Username</span>
            <input type="text" placeholder="xxTylerDurden69xx" ng-model="formData.username">
          </label>
        </div>
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Location</span>
            <input type="text" placeholder="32304" ng-model="formData.zip">
          </label>
        </div>
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Height</span>
            <input type="text" placeholder="6 feet"  ng-model="formData.height">
          </label>
        </div>
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Weight</span>
            <input type="text" placeholder="180 lbs"  ng-model="formData.weight">
          </label>
        </div>
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <input type="text" placeholder="Mess with the best... die like the restttt!"  ng-model="formData.description">
          </label>
        </div>
        <button class="button button-block button-positive activated" type="submit">Save</button>
      </div>
    </form>
    <pre>
      {{formData}}
    </pre>
  </ion-content>
</ion-view>
