<ion-view title="BRAWLR">  
  <ion-nav-buttons side="left">
    <button class="button icon ion-ios-people-outline" ui-sref="cards"></button>
  </ion-nav-buttons>

  <ion-content padding="true">
  <form  ng-submit="save_profile()"> 
    <div class="list">
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Username</span>
            <input type="text" ng-model="user.username"> </input>
          </label>
        </div>
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Location</span>
            <input type="text" placeholder="32304" ng-model="user.zip">
          </label>
        </div>
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Height</span>
            <input type="text" placeholder="6 feet"  ng-model="user.height">
          </label>
        </div>
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Weight</span>
            <input type="text" placeholder="180 lbs"  ng-model="user.weight">
          </label>
        </div>
        <div class="form-group">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <input type="text" placeholder="Mess with the best... die like the restttt!"  ng-model="user.description">
          </label>
        </div>
      </div>
        <button type="button" class="button button-full button-positive">Save</button>
        <button type="button" class="button button-full button-dark" on-tap="logout()">Logout</button>
    </form>
  </ion-content>
</ion-view>
