<ion-view title="BRAWLR">  
  <ion-nav-buttons side="right">
    <button class="button icon ion-ios-people" ui-sref="cards"></button>
  </ion-nav-buttons>


  <ion-content on-swipe-left="swipeLeft()">

<!-- 
    <div class="row">     
      <div class="col col-25"></div>
        <div class="col col-50 profile-pic-container fileUpload">
          <div class="this_just_holds_the_fileUpload_stuff">
            <div class="profile-pic-spacer-dummy"></div>
            <div class="inner-profile-pic">
              <img id="pic_one" class='profile-pic'/>
            </div>
          </div>
          <input type="file" id="upload_pic_one" class='upload' accept="image/*"/>
        </div>
      <div class="col col-25"></div>
    </div>
 -->

    <div class="row">
      <div class="col">
        <form  ng-submit="save_profile(image)"> 
          <div class="list">
            <div class="form-group">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Username</span>
                <input type="text" ng-model="userProfile.username"></input>
              </label>
            </div>
            <div class="form-group">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Location</span>
                <input type="text" placeholder="32304" ng-model="userProfile.zip">
              </label>
            </div>
            <div class="form-group">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Height</span>
                <input type="text" placeholder="6 feet"  ng-model="userProfile.height">
              </label>
            </div>
            <div class="form-group">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Weight</span>
                <input type="text" placeholder="180 lbs"  ng-model="userProfile.weight">
              </label>
            </div>
            <div class="form-group">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Mess with the best... die like the restttt!"  ng-model="userProfile.description">
              </label>
            </div>
          </div>
          <button type="button" class="button button-full button-positive" on-tap="save_profile()">Save</button>
          <button type="button" class="button button-full button-dark" on-tap="logout()">Logout</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
