<ion-view title="Settings">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="xxTylerDurden69xx">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="32304">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label"> HHHEEIIIGHHT </span>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Height</span>
        <input type="text" placeholder="6 feet">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Weight</span>
        <input type="text" placeholder="180 lbs">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Mess with the best... die like the restttt!">
      </label>
    </div>
  </ion-content>
</ion-view>