<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../lib/ionic-contrib-tinder-cards/ionic.tdcards.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic-contrib-tinder-cards/ionic.tdcards.js"></script>

  </head>

  <body class="platform-ios" ng-app="starter" no-scroll   ng-controller="AppCtrl">
  <div class="bar bar-header" style="margin-bottom: 1cm;">
    <button class="button icon ion-navicon"  ng-click="popover.show($event)"> </button>
    <h1 class="title" ng-click="homeView()">Brawler</h1>
    <a class="button button-icon" ui-sref="cards"><img src="img/gloveIcon2.png"  height="32" width="32"></img></a>
  </div>

    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" href="#profile">
              Profile
            </a>
            <a class="item" href="#settings">
              Settings
            </a>
            <a class="item" href="#faqlegal" target="_blank">
              FAQ / Legal
            </a>
            <a class="item" href="#about">
              About
            </a>
            <a class="item" href="#logout">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>       

  <ion-nav-view></ion-nav-view>



  </body>
</html>
