/* Background styling
.background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: #DCD1BB;
}
*/

/* Nav-bar styling */
.brawlr-nav-bar, .ion-person, .ion-ios-people-outline {
    background-color: #E61C17;
    color: #FFFFFF;
    border-color: #E61C17;
}

/* Profile page styling */
.profile-pic-container {
    display: inline-block;
    position: relative;
    width: 50%;
}
.profile-pic-spacer-dummy {
    margin-top: 75%; /* 4:3 aspect ratio */
}
.inner-profile-pic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver /* show me! */
}
.profile-pic {
    width: 100%;
    height: 100%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Card styling */

@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-Light.otf')  format('opentype');
    font-weight: bold;
}


td-cards {
    display: inline;
}

td-card {
    position: absolute;
    left: 50%;
    /*margin: 20px 10px 40px -200px;*/
    margin: 10% 10% 10% -45%;
    width: 90%;
    height: 300px;
    /*box-shadow: 0px 1px 1px rgba(0,0,0,0.2);*/
    border-radius: 4px;
    background-color: #FFFFFF;
    padding-bottom: 4px;
}

.td-card .title {
    height: 40px;
    font-size: 20px;
    padding: 15px;
    font-style: bold;
    font-family: FiraSans;
    margin: 0px auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
}

td-card .image {
    position: absolute;
    /*top: 40px;*/
    width: 100%;
    opacity: 1.0;
}

td-card img {
    height: 258px;
    width: 100%;
}

/* Overlay styling*/

.overlayBox {
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}

.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 3px;
    font-size: 30px;
}

.yes-text {
    color: rgb(111, 250, 111);
    color: #33cd5f;
    opacity: 0;

}

.yesBox {
    font-size: 60px;
    color: #E61C17;
    opacity: 0.8;
    width: 50%;
    /* Aiming at their forehead */
    margin-top: 30px;
    margin-left: 25%;
}

.boxed-fist {
    opacity: 0.8;
    margin-left: 35%;
    height: 100px;
    width: 100px;
}

.no-text {
    color: #33cd5f;
    opacity: 0;
}

.noBox {
    font-size: 60px;
    color: #56D2D7;
    opacity: 0.8;
    width: 50%;
    /* Aiming at their forehead */
    margin-top: 30px;
    margin-left: 30%;
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}


